<!-- views/partials/header.ejs -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light main">
        <a class="navbar-brand" href="/">Future Workforce Planers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li><button onclick="logoutfunc();" class="btn btn-outline-success my-2 my-sm-0 mx-1" type="submit">Logout</button></li>
            </ul>
        </div>
    </nav>
</header>
<script>
    
</script>