<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script defer src="/js/about.js"></script>
</head>

<body>

    <header>
        <% include ../partials/indexheader %>
    </header>

    <main class="container">
        <h1 class="mt-3">Future Ready Solution</h1>
        <h6 class="">WorkForce Suite combines the ease of a parameter-based approach with the flexibility of its unique rules engine.</h6>
        <img width="100%" src="../images/background.png">
        <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">The Ease Of Parameters</h5>
                      <p class="card-text">The parameter-based solution provides the commonly needed capabilities for time, attendance, scheduling, and leave management straight out of the box—allowing you to realize business benefits much faster.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">The Power Of Rules</h5>
                      <p class="card-text">The unique rules engine can accurately capture business processes, collective bargaining agreements, local regulations, policies, and working rules that are specific to your organization and future-proof your organization against changes yet to come.</p>
                    </div>
                  </div>
                </div>
              </div>
              <canvas id="canva"></canvas>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>