<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script defer src="/js/about.js"></script>
</head>
<body>

<header>
    <% include ../partials/indexheader %>
</header>

<main class="container">
<h1>Future WorkForce Planner</h1>
<h6>The Stickiness of HR Change Processes</h6>
<p>
        At the lowest or building block level, cost centers can be readily added, deleted, combined, separated, and realigned on a monthly basis. Managerial or supervisor hierarchies are, on the other hand, stickier or slower to change. Changing the personnel side of the business extends well beyond cost center code changes. Managerial approval processes, workforce management systems, administrative applications, and workflows need to be updated along with roles, job descriptions, compensation formulas, incentives, benefits, stock option plans, and bonus reviews. Changes must also be documented and verified so that they do not adversely affect workers on the basis of age, race, and sex. In some cases, unions and work councils must also be notified. These constraints mean that HR change processes will always lag financial and business change processes.
<br/>
        Given the stickiness of HR change processes, workforce planning efforts need to account for and build in transition periods for HR to catch up and realign with changes in financial and strategic business plans.
</p>
<h6>Defining Who is a Worker</h6>
<p>
        An accepted definition of workforce planning is “the systematic identification and analysis of what an organization is going to need in terms of the size, type, and quality of workforce to achieve its objectives.”[2] The workforce planning process provides a framework to sequence the steps required to obtain the right number of the right people in the right place at the right time.[3] This reinforces the theory that timing and identifying the types of workers with respect to quality, experience, knowledge, skills, and effort levels required to deliver an organization’s objectives are key factors in workforce planning success. According to this model, determining who is a worker is integral. However, in today’s global business environment, the task of determining the worker types needed by an organization can be especially difficult. For example, organizations facing skill shortages or increases in labor costs can now readily access cost-effective alternatives locally or internationally, thus changing the composition of the workforce with very short notice or no notice at all. These types of adjustments often outpace the sticky HR change processes.
        <br/>
        The real sources of headcount reporting problems, then, are a failure to properly account for the stickiness of HR change processes versus business and finance change processes and the lack of a sustainable definition of who is to be counted as a worker.
        <br/>
        These problems point to a need for organizations to:
        <ul>
            <li>Adopt a broad and adaptable definition “worker,”</li>
            <li>Create planning scenarios that provide for tradeoffs between workers employed across geographic areas,</li>
            <li>Analyze planning scenarios that incorporate changes in the types of workers employed,</li>
            <li>Build a planning method that can support financial planning scenarios, and</li>
            <li>Sustain a planning method that remains consistent with annual headcount numbers.</li>
        </ul>
        <p>Companies must also decide if worker types should include geographic identifiers. Smart headcount reporting rules may be needed to align downstream operational headcounts by type with workforce planning headcounts. The challenges are substantial, but clearly, they begin with workforce planning.</p>
        <h6>Workforce Planning Challenges and Opportunities</h6>
        <p>To meet the challenges of workforce planning, businesses must be able to anticipate emerging business changes and get ahead of the curve so that the necessary timing adjustments for stickiness and accommodations for potential new worker types can be made. Changes must also be analyzed and tracked on multiple levels.[4] In this article, global market and societal changes and emerging business models are explored as two important opportunities to assist workforce planners in anticipating change.</p>
        <h6>Expanding Business Choices and Societal Change</h6>
        <p>Societies are experiencing rapid social, demographic (see Figure 1), economic, technological, and cultural changes. Product life-cycles are shortening, and customers are demanding greater choice and personalized delivery. Meanwhile, employees are demanding more choice at work. Strategies to expand physical and material resources, emphasized in the bygone industrial era, are being challenged by strategies to reduce such resources in today’s service-based era.</p>
        <p>Developed countries with productivity measures of $10,000 per worker or higher are experiencing record demographic changes, characterized by declining birth rates, greater longevity, aging populations, and, in some arenas, skill shortages.[5] This focuses attention on the increased competitiveness required of organizations to attract and retain skilled workers in their national and local labor markets. However, when the problem of declining labor supply is considered from a global perspective, a different picture emerges.</p>
    </p>
    <canvas id="canvas"></canvas>
    <p>In conjunction with the market-seeking and resource-seeking behaviors of global firms, the labor market for skilled workers has also become global, “both in terms of demand and supply for skilled labor.”[7] Global labor supply is expected to grow at an average rate of approximately 40 million persons per year, with the majority of this growth occurring in less developed nations[8] (see Figure 2). This growth represents a new resource for organizations. As such, workforce planners must consider new sources of international demand and competition for skilled labor in order to identify the best choices. These new demands require additional planning resources, new planning and analysis skills, and increased flexibility in terms of HR change processes.</p>
    <canvas  id="canva"></canvas>
    <p>However, access to a global talent pool does not necessarily equate with acquisition. Global firms that relocated production centers to access low-cost resources and capture new sources of innovation and new markets are now competing for talent in an environment where internal market demands for talent are rising dramatically.[10] In countries such as India, local firms are turning their talents to internal projects rather than external markets. Similar shifts are also actively underway in China.[11]</p>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>