<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script defer src="js/main.js"></script>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="container-fluid">

            <div>
                <h1>Maximize Productivity through Intelligent Forecasting</h1>
            </div>
            <div class="card-body">
                <h5 class="card-title">Future workforce planning efforts must systematically account for alternative
                    worker types.</h5>
                
                <p class="card-text">Our intelligent forecasting ensures that you have the right number of employees for any given shift, on any given day throughout the year. Our intelligent forecasting uses your business driver data (such as consumer demand, delivery schedules, sales orders, etc) to create amazingly accurate labor forecasts, meaning shifts will no longer be under- or over-staffed, reducing overtime and on-call shifts.</li>
                    <br />
                    <ul>
                    <li> <strong>Remove guesswork from your scheduling</strong> by using the latest data from your business systems to ensure each schedule considers the latest variables</li>
                    <li> <strong>Reduce staffing costs </strong>by only having employees scheduled when there is work to be done
                    <li> <strong>Make fewer schedule changes </strong> and stop relying on on-call staff by having better insight into actual staffing demand’</li>
                </ul>
                </p>
                <canvas id="canvas"></canvas>
                <a href="javascript:void(0);" onclick="redirect()" class="btn btn-primary">Create Appraisal Reports</a>

            </div>
        </div>
    </main>

    <div class="row" id="popup1">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Demo</h5>
                    <p class="card-text">Our WorkForce Forecasting & Scheduling solution lets you intelligently forecast your customer demand and, in turn, accurately schedule your employees across multiple sites within your organization.</p>
                    <form>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="number " id="fulltime" class="form-control" placeholder="Number of Full Time employees">
                            </div>
                            <div class="col">
                                <input type="number" id="parttime" class="form-control" placeholder="Number of Part Time employees">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="number" id="casual" class="form-control" placeholder="Number of Casual employees">
                            </div>
                            <div class="col">
                                <input type="number" id="contractor" class="form-control" placeholder="Number of Contractor">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <select id="type" class="custom-select">
                                    <option selected>pie</option>
                                    <option value="1">doughnut</option>
                                    <option value="2">line</option>
                                    <option value="3">bar</option>
                                </select>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </form>
                    <a onclick="usergraphfunc();" href="javascript:void(0);" id="create" class="btn btn-primary">Create</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>
<div id="dialog" class="dialog" title="Your Graph is here">
    <canvas style="margin-top:1rem;" id="usergraph"></canvas>
</div>